/*Container*/
.container{
  max-width: 1000px;
  max-height: 1000px;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  border-radius: 40px;
}



/*Randomizer*/
.form_group{
  margin: 30px;
}

.randomizer_names_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px;
}

.randomizer_names{
  margin-top: 10px;
  width: 200px;
  text-align: center;
  font-size: 30px;
}

.chosen_name{
  text-align: center;
  font-size: 40px;
}

/*Hesteløp*/

.card{
  width: 50px;
  height: 90px;
  background-color: blue;
}

.card_laying{
  width:90px;
  height: 50px;
  background-color: blue;
}

.hestelop_container{
  position: relative;
  height: 900px;
 
}


.left_cards{
  /* height: 650px;
  position: absolute;
  right: 40px;
  top: 30px;
  align-items: flex-end;

  display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

.playing_cards{
  /* position: absolute;
  bottom: 30px;
  left: 290px;
  width: 400px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: space-between; */

}



/* NAV */
.nav_bar{
  text-align: center;
  border: 1px solid black;
  background-color: black;
}

.nav_header{
  border-right: 1px solid black;
  background-color: black;
  width: 10%;
  text-align: center;
}

.nav_link:hover{
  background-color: red;
  color: white;

}

/* Over eller under */

.OeU_container{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.OeU_start_button{
  width: 225px;
  height: 100px;
  margin-left: 385px;

}

.OeU_board{
  height: 400px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 1px;
  
}

.OeU_button{
  height: 200px;
  width: 150px;
  
}

.OeU_card{

  background-color: aqua;
  height: 315px;
  width: 225px;
}

.OuE_lostmessage_visible{
  height: 200px;
  width: 300px;
  border: 1px solid black;
  opacity: 100%;
  z-index: 1;

  text-align: center;
  text-decoration: underline;
  

  position: absolute;
  top: 350px;
  left: 540px;
}

.OuE_lostmessage{
  height: 100px;
  width: 300px;
  border: 1px solid black;

  text-align: center;
  text-decoration: underline;
  

  position: relative;
  top: 200px;
  left: 350px;
  display: none;
}

